.ai-header-v3 {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-header-2800x1087-v3.webp");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-header-2800x1087-v3.webp") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.ai-core-facilities-supercomputer {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-core-facilities-1174x628.webp");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-core-facilities-1174x628.webp") !important;
}
.so-hero-bg {
  background: url("../../_images/research-innovation/student-opportunities/img-hero-student-opportunities.webp");
  background-image: url("../../_images/research-innovation/student-opportunities/img-hero-student-opportunities.webp") !important;
}
.incubating-innovation {
  background: url("../../_images/research-innovation/img-research-resources.webp");
  background-image: url("../../_images/research-innovation/img-research-resources.webp") !important;
}
.so-research-ini {
  background: url("../../_images/research-innovation/student-opportunities/img-ahead-of-the-curve.webp");
  background-image: url("../../_images/research-innovation/student-opportunities/img-ahead-of-the-curve.webp") !important;
}
.climate-hero-b-bg {
  background: url("../../_images/research-innovation/climate-change/img-hero-climate-change2.webp");
  background-image: url("../../_images/research-innovation/climate-change/img-hero-climate-change2.webp") !important;
}
.tab-cli-action {
  background: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-action.webp");
  background-image: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-action.webp") !important;
}
.tab-cli-academics {
  background: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-academics.webp");
  background-image: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-academics.webp") !important;
}
.tab-cli-resources-b {
  background: url("../../_images/research-innovation/climate-change/tab-climate-resources-b.webp");
  background-image: url("../../_images/research-innovation/climate-change/tab-climate-resources-b.webp") !important;
}
.ri-hero-bg {
  background: url("../../_images/research-innovation/research-initiatives/img-hero-research-initiatives.webp");
  background-image: url("../../_images/research-innovation/research-initiatives/img-hero-research-initiatives.webp") !important;
}
.tab-ri-climate {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-climate.webp");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-climate.webp") !important;
}
.tab-ri-robotics {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-robotics.webp");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-robotics.webp") !important;
}
.tab-ri-microbiomes {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-microbiomes.webp");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-microbiomes.webp") !important;
}
.research-inovation-hero {
  background: url("../../_images/research-innovation/img-hero-we-innovate-with-purpose-032323.webp");
  background-image: url("../../_images/research-innovation/img-hero-we-innovate-with-purpose-032323.webp") !important;
}
.student-opportunities {
  background: url("../../_images/research-innovation/img-real-life-opportunities-032323.webp");
  background-image: url("../../_images/research-innovation/img-real-life-opportunities-032323.webp") !important;
}
.research-initiatives {
  background: url("../../_images/research-innovation/img-research-initiatives-032323.webp");
  background-image: url("../../_images/research-innovation/img-research-initiatives-032323.webp") !important;
}
.research-innovation-resources {
  background: url("../../_images/research-innovation/img-research-resources.webp");
  background-image: url("../../_images/research-innovation/img-research-resources.webp") !important;
}
.research-library {
  background: url("../../_images/research-innovation/img-the-library.webp");
  background-image: url("../../_images/research-innovation/img-the-library.webp") !important;
}
.admissions-hero {
  background: url("../../_images/admissions-aid/img-hero-admissions-and-aid.webp");
  background-image: url("../../_images/admissions-aid/img-hero-admissions-and-aid.webp") !important;
}
.fin-aid {
  background: url("../../_images/admissions-aid/img-invest-in-your-future.webp");
  background-image: url("../../_images/admissions-aid/img-invest-in-your-future.webp") !important;
}
.pople-are-the-point {
  background: url("../../_images/support/img-hero-people-are-the-point-2.webp");
  background-image: url("../../_images/support/img-hero-people-are-the-point-2.webp") !important;
}
.support-foundation {
  background: url("../../_images/support/img-foundation-of-success.webp");
  background-image: url("../../_images/support/img-foundation-of-success.webp") !important;
}
.ss-banner {
  background: url("../../_images/campus-life/student-support/img-hero-student-support.webp");
  background-image: url("../../_images/campus-life/student-support/img-hero-student-support.webp") !important;
}
.brc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.webp") !important;
}
.ccc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.webp") !important;
}
.irc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.webp") !important;
}
.lgbt {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.webp") !important;
}
.raza {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.webp") !important;
}
.womens-center {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.webp") !important;
}
.jumbotron-culture {
  background: url("../img/bg_life_culture.webp");
  background-image: url("../img/bg_life_culture.webp") !important;
}
.ss-international-house {
  background: url("../../_images/campus-life/student-support/img-international-house.webp");
  background-image: url("../../_images/campus-life/student-support/img-international-house.webp") !important;
}
.health-wellness {
  background: url("../../_images/campus-life/student-support/img-health-and-wellness.webp");
  background-image: url("../../_images/campus-life/student-support/img-health-and-wellness.webp") !important;
}
.attend-cta {
  background: url("../../_images/admissions-aid/img-attend-uc-san-diego.webp");
  background-image: url("../../_images/admissions-aid/img-attend-uc-san-diego.webp") !important;
}
.campus-life-hero {
  background: url("../../_images/campus-life/img-hero-student-life.webp");
  background-image: url("../../_images/campus-life/img-hero-student-life.webp") !important;
}
.cl-recreation {
  background: url("../../_images/campus-life/img-get-out-and-move.webp");
  background-image: url("../../_images/campus-life/img-get-out-and-move.webp") !important;
}
.artpower {
  background: url("../../_images/campus-life/img-artpower.webp");
  background-image: url("../../_images/campus-life/img-artpower.webp") !important;
}
.stuart-ollection {
  background: url("../../_images/campus-life/img-stuart-collection.webp");
  background-image: url("../../_images/campus-life/img-stuart-collection.webp") !important;
}
.box-office {
  background: url("../../_images/campus-life/img-uc-san-diego-box-office.webp");
  background-image: url("../../_images/campus-life/img-uc-san-diego-box-office.webp") !important;
}
.the-loft {
  background: url("../../_images/campus-life/img-the-loft.webp");
  background-image: url("../../_images/campus-life/img-the-loft.webp") !important;
}
.lj-playhouse {
  background: url("../../_images/campus-life/img-la-jolla-playhouse.webp");
  background-image: url("../../_images/campus-life/img-la-jolla-playhouse.webp") !important;
}
.conrad-music {
  background: url("../../_images/campus-life/img-conrad-prebys-music-center.webp");
  background-image: url("../../_images/campus-life/img-conrad-prebys-music-center.webp") !important;
}
.hero-organizations {
  background: url("../../_images/campus-life/organizations/img-hero-student-organizations.webp");
  background-image: url("../../_images/campus-life/organizations/img-hero-student-organizations.webp") !important;
}
.student-life-get-involved {
  background: url("../../_images/campus-life/organizations/img-get-involved.webp");
  background-image: url("../../_images/campus-life/organizations/img-get-involved.webp") !important;
}
.student-gov {
  background: url("../../_images/campus-life/organizations/bg-student-gov.webp");
  background-image: url("../../_images/campus-life/organizations/bg-student-gov.webp") !important;
}
.student-media {
  background: url("../../_images/campus-life/organizations/img-student-media.webp");
  background-image: url("../../_images/campus-life/organizations/img-student-media.webp") !important;
}
.organizations-spirit {
  background: url("../../_images/campus-life/organizations/img-triton-spirit.webp");
  background-image: url("../../_images/campus-life/organizations/img-triton-spirit.webp") !important;
}
.diversity-hero {
  background: url("../../_images/campus-life/diversity/img-header-student-diversity.webp");
  background-image: url("../../_images/campus-life/diversity/img-header-student-diversity.webp") !important;
}
.brc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.webp") !important;
}
.ccc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.webp") !important;
}
.irc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.webp") !important;
}
.lgbt {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.webp") !important;
}
.raza {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.webp") !important;
}
.womens-center {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.webp");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.webp") !important;
}
.cultural-organizations {
  background: url("../../_images/campus-life/diversity/img-cultural-organizations.webp");
  background-image: url("../../_images/campus-life/diversity/img-cultural-organizations.webp") !important;
}
.spaces {
  background: url("../../_images/campus-life/diversity/img-spaces.webp");
  background-image: url("../../_images/campus-life/diversity/img-spaces.webp") !important;
}
.economic-impact {
  background: url("../../_images/about/economic-impact-report/img-hero-economic-impact-report2.webp");
  background-image: url("../../_images/about/economic-impact-report/img-hero-economic-impact-report2.webp") !important;
}
.additional-resources {
  background: url("../../_images/about/economic-impact-report/img-econ-impact.webp");
  background-image: url("../../_images/about/economic-impact-report/img-econ-impact.webp") !important;
}
.about-hero {
  background: url("../../_images/about/img-hero-about-uc-san-diego.webp");
  background-image: url("../../_images/about/img-hero-about-uc-san-diego.webp") !important;
}
.about-mission {
  background: url("../../_images/about/img-our-mission.webp");
  background-image: url("../../_images/about/img-our-mission.webp") !important;
}
.about-mission {
  background: url("../../_images/about/img-our-mission.webp");
  background-image: url("../../_images/about/img-our-mission.webp") !important;
}
.about-creating-healthier {
  background: url("../../_images/about/img-creating-a-healthier-world.png");
  background-image: url("../../_images/about/img-creating-a-healthier-world.png") !important;
}
.public-art {
  background: url("../../_images/about/img-reimagining-public-art.webp");
  background-image: url("../../_images/about/img-reimagining-public-art.webp") !important;
}
.visit-tours-hero-2 {
  background: url("../../_images/about/visiting-tours/img-hero-visiting-tours3.webp");
  background-image: url("../../_images/about/visiting-tours/img-hero-visiting-tours3.webp") !important;
}
.tours-students {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-tours-1.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-tours-1.webp") !important;
}
.cl-getting-to-campus {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-getting-to-campus.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-getting-to-campus.webp") !important;
}
.getting-around-campus {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-getting-around-campus.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-getting-around-campus.webp") !important;
}
.organizations-involvement {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-athletics.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-athletics.webp") !important;
}
.arts-uc-san-diego {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-arts.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-arts.webp") !important;
}
.library {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-library.webp");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-library.webp") !important;
}
.online-extension-hero {
  background: url("../../_images/online-extension/hero.webp");
  background-image: url("../../_images/online-extension/hero.webp") !important;
}
.public-programs {
  background: url("../../_images/online-extension/public-programs.webp");
  background-image: url("../../_images/online-extension/public-programs.webp") !important;
}
.callout-content-3-enroll {
  background: url("../../_images/online-extension/enroll.webp");
  background-image: url("../../_images/online-extension/enroll.webp") !important;
}
.text-cta-image-online-learning {
  background: url("../../_images/online-extension/online-learning.webp");
  background-image: url("../../_images/online-extension/online-learning.webp") !important;
}
.student-success-hero {
  background: url("../../_archive/archive_images/student-success-hero.webp");
  background-image: url("../../_archive/archive_images/student-success-hero.webp") !important;
}
.attend-cta {
  background: url("../../_archive/archive_images/advising.webp");
  background-image: url("../../_archive/archive_images/advising.webp") !important;
}
.teaching-learning {
  background: url("../../_archive/archive_images/teaching-learning.webp");
  background-image: url("../../_archive/archive_images/teaching-learning.webp") !important;
}
.health-wellbeing {
  background: url("../../_archive/archive_images/health-wellbeing.webp");
  background-image: url("../../_archive/archive_images/health-wellbeing.webp") !important;
}
.teaching-learning {
  background: url("../../_archive/archive_images/teaching-learning.webp");
  background-image: url("../../_archive/archive_images/teaching-learning.webp") !important;
}
.health-wellbeing {
  background: url("../../_archive/archive_images/health-wellbeing.webp");
  background-image: url("../../_archive/archive_images/health-wellbeing.webp") !important;
}
.as-hero {
  background: url("../../_images/academics/academic-success/img-hero-academic-success.webp");
  background-image: url("../../_images/academics/academic-success/img-hero-academic-success.webp") !important;
}
.academic-support {
  background: url("../../_images/academics/academic-success/img-academic-support.webp");
  background-image: url("../../_images/academics/academic-success/img-academic-support.webp") !important;
}
.summer-success {
  background: url("../../_images/academics/academic-success/img-summer-success.webp");
  background-image: url("../../_images/academics/academic-success/img-summer-success.webp") !important;
}
.global-opportunities {
  background: url("../../_images/academics/academic-success/img-global-opportunities.webp");
  background-image: url("../../_images/academics/academic-success/img-global-opportunities.webp") !important;
}
.as-changemakers {
  background: url("../../_images/academics/academic-success/img-our-culture.webp");
  background-image: url("../../_images/academics/academic-success/img-our-culture.webp") !important;
}
.engaged-learning-tools {
  background: url("../../_images/academics/academic-success/img-engaged-learning-tools.webp");
  background-image: url("../../_images/academics/academic-success/img-engaged-learning-tools.webp") !important;
}
.ss-wellness {
  background: url("../../_images/campus-life/student-support/img-health-and-wellness.webp");
  background-image: url("../../_images/campus-life/student-support/img-health-and-wellness.webp") !important;
}
.academics-test {
  background: url("../../_images/academics/img-hero-academics.webp");
  background-image: url("../../_images/academics/img-hero-academics.webp") !important;
}
.summer-session {
  background: url("../../_images/academics/img-plan-now-for-summer.webp");
  background-image: url("../../_images/academics/img-plan-now-for-summer.webp") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.webp") !important;
}
.research-innovation {
  background: url("../../_images/homepage/img-research-and-innovation.webp");
  background-image: url("../../_images/homepage/img-research-and-innovation.webp") !important;
}
.attend-cta {
  background: url("../../_images/homepage/img-financial-aid-scholorships.webp");
  background-image: url("../../_images/homepage/img-financial-aid-scholorships.webp") !important;
}
.student-life-alt {
  background: url("../../_images/homepage/img-our-thriving-student-life.webp");
  background-image: url("../../_images/homepage/img-our-thriving-student-life.webp") !important;
}
